@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: var(--font-mono);
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}